@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav-list {
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
